PORT_NGINX_PM=8011
PORT_PMA=8022

DB_ROOT_PASSWORD=

SHARED_NETWORK_NAME=ez-shared-network

GIT_URL=https://github.com/MansourM/ez-docker-for-laravel.git
# you can give the normal git url or use this format to avoid entering username password everytime
#GIT_URL=https://<user>:<pass>@github.com/MansourM/ez-docker-for-laravel.git
