APP_NAME=laravel_dev
APP_ENV=dev
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
APP_PORT=8000

DB_CONNECTION=mysql
DB_HOST=mysql8
DB_PORT=3306
DB_DATABASE=laravel_dev
DB_USERNAME=root
DB_PASSWORD=2312
DB_ROOT_PASSWORD=14356
